extends ../layout/admin

block contenido
   div.py-3
      h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
         span.font-normal.text-indigo-700 Raices
      h2(class="text-center text-3xl font-extrabold")= page

      a(href="/propiedades/crear" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white py-2 px-10 text-sm text-center rounded-md font-bold uppercase inline-block my-5 sm:w-auto") Publicar Propiedad

      // sniped para mostrar información en la vista
      //- pre= JSON.stringify(propiedades, undefined, 2)

      if propiedades.length
         div(class="bg-white shadow rounded-lg")
            ul(class="divide-y divide-gray-200")
               each propiedad in propiedades
                  li
                     div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4")
                        div(class="sm:w-1/4 md:w-1/6")
                           img(src=`uploads/${propiedad.imagen}`, alt=`Imagen Propiedad ${propiedad.titulo}` class="w-full block")
                        div(class="sm:w-2/4 md:w-3/6 lg:w-4/6") info
                        div(class="sm:w-1/4 md:w-2/6 lg:w-1/6") btn actions           

      else
         p(class="text-center text-2xl font-extrabold") No hay Propiedades

      