extends ../layout/index

block contenido
   div.py-3
      h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
         span.font-normal.text-indigo-700 Raices
      h2(class="text-center text-3xl font-extrabold")= page

      div(class="mt-8 mx-auto max-w-md")
         div(class="bg-white py-8 px-4 shadows")
            form.space-y-4
               div
                  label(class="block text-sm uppercase text-gray-600 mb-2 font-bold" for="nombre") Nombre
                  input(id="nombre" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Ingresa tu Nombre" type="text" name="nombre")
               div
                  label(class="block text-sm uppercase text-gray-600 mb-2 font-bold" for="email") Email de registro
                  input(id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Ingresa tu Email" type="email" name="email")
               div
                  label(class="block text-sm uppercase text-gray-600 mb-2 font-bold" for="password") Password
                  input(id="password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Ingresa tu Password" type="password" name="password")
               div
                  label(class="block text-sm uppercase text-gray-600 mb-2 font-bold" for="repetir_password") Repetir Password
                  input(id="repetir_password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Repite tu Password" type="password" name="repetir_password")
               input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white py-2 rounded-md font-bold" type="submit" value="Crear Cuenta")